:root {
    --color-title:#00C2CB;
    --color-login:#00C2CB;
    --color-disaccept:#FF0404;
    --color-primary:#FFFFFF;
}

ion-title {
    font-size:24px;
    font-weight:bold;
    text-align:center;
    color:#00C2CB;
}
