<ion-toolbar>
  <ion-buttons>
    <ion-title>
      PHARMA C
    </ion-title>
  </ion-buttons>
</ion-toolbar>

<ion-content>
<div class="content">
  <div class="description">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Voluptate perferendis cupiditate quo blanditiis similique vel 
    fuga repellat officiis asperiores autem odit quidem, 
    possimus fugiat, laborum enim ad adipisci iste fugit.
  </div>
  <div class="description">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Voluptate perferendis cupiditate quo blanditiis similique vel 
    fuga repellat officiis asperiores autem odit quidem, 
    possimus fugiat, laborum enim ad adipisci iste fugit.
  </div>
  <div class="description">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Voluptate perferendis cupiditate quo blanditiis similique vel 
    fuga repellat officiis asperiores autem odit quidem, 
    possimus fugiat, laborum enim ad adipisci iste fugit.
  </div>
  <div class="description">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Voluptate perferendis cupiditate quo blanditiis similique vel 
    fuga repellat officiis asperiores autem odit quidem, 
    possimus fugiat, laborum enim ad adipisci iste fugit.
  </div>
  <div class="description">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Voluptate perferendis cupiditate quo blanditiis similique vel 
    fuga repellat officiis asperiores autem odit quidem, 
    possimus fugiat, laborum enim ad adipisci iste fugit.
  </div>
  <div class="description">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Voluptate perferendis cupiditate quo blanditiis similique vel 
    fuga repellat officiis asperiores autem odit quidem, 
    possimus fugiat, laborum enim ad adipisci iste fugit.
  </div>
  <div class="description">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Voluptate perferendis cupiditate quo blanditiis similique vel 
    fuga repellat officiis asperiores autem odit quidem, 
    possimus fugiat, laborum enim ad adipisci iste fugit.
  </div>
  <div class="description">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Voluptate perferendis cupiditate quo blanditiis similique vel 
    fuga repellat officiis asperiores autem odit quidem, 
    possimus fugiat, laborum enim ad adipisci iste fugit.
  </div>
  <div class="description">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Voluptate perferendis cupiditate quo blanditiis similique vel 
    fuga repellat officiis asperiores autem odit quidem, 
    possimus fugiat, laborum enim ad adipisci iste fugit.
  </div>
  <div class="description">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Voluptate perferendis cupiditate quo blanditiis similique vel 
    fuga repellat officiis asperiores autem odit quidem, 
    possimus fugiat, laborum enim ad adipisci iste fugit.
  </div>
</div>
</ion-content>

