<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button>
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons>
    <ion-title>
      PROFILE
    </ion-title>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="profile">
    <img src="./assets/img/profile.jpg">
    <h3> Suthasinee Phasiw </h3> 
    <ion-icon name="pencil-outline"></ion-icon> <!--{{username}}-->
  </div>
  <div class="list-profile">
  <!-- listI -->
  <ion-list lines="none" class="listI">
    <ion-item>
      <ion-label slot="start"> Card ID </ion-label>
      <p slot="end"> x-xxxx-xxxxx-xx-x </p> <!--cardid-->
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label slot="start"> Gender </ion-label>
      <p slot="end"> Male </p>
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item >
      <ion-label slot="start"> Date of birth </ion-label>
      <p slot="end"> 1/11/2001 </p>
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- listII -->
  <ion-list lines="none" class="listII">
    <ion-item>
      <ion-label slot="start"> Weight </ion-label>
      <p slot="end"> 76.6 kg.</p>
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label slot="start"> Height </ion-label>
      <p slot="end"> 166 cm.</p>
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label slot="start"> Underlying disease </ion-label>
      <p slot="end"> - </p>
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label slot="start"> Food allergy </ion-label>
      <p slot="end"> - </p>
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label slot="start"> Drug allergy </ion-label>
      <p slot="end"> - </p>
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  <!-- listIII -->
  <ion-list lines="none" class="listIII">
    <ion-item>
      <ion-label slot="start"> Phone number </ion-label>
      <p slot="end"> 061-206-3657 </p>
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label slot="start"> Address </ion-label>
      <p slot="end"> 9 m.13 t.nakham</p>
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label slot="start"> Card ID Picture </ion-label>
      <p slot="end"> -- </p>
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  <!-- listIV -->
  <ion-list lines="none" class="listIV">
    <ion-item>
      <ion-label slot="start"> E-mail </ion-label>
      <p slot="end"> Suthasineephasiw@gmail.com</p>
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label slot="start"> Password </ion-label>
      <p slot="end">123456789</p>
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</div>
</ion-content>